/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.memo-block{
    cursor: pointer;
    height: 80px;
    width: 80px;
}

.memo-block-front, .memo-block-back{
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
}

.memo-block-inner{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.memo-block-flipped{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.memo-block-back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-box-shadow: 5px, 5px, 10px, 0px rgb(0, 0, 0/50%);
            box-shadow: 5px, 5px, 10px, 0px rgb(0, 0, 0/50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.memo-block-front{
    -webkit-box-shadow: 5px, 5px, 10px, 0px rgb(0, 0, 0/50%);
            box-shadow: 5px, 5px, 10px, 0px rgb(0, 0, 0/50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.imagen{
    width: 100%;
    height: auto;
}

@media (max-height:600px) {
    .memo-block{
        width: 65px;
        height: 65px;
    }
}
@media (max-width:990px) {
    .memo-block{
        width: 55px;
        height: 55px;
    }
}


@media (max-width:800px) {
    .memo-block{
        width: 40px;
        height: 40px;
    }
}