.contenedor {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns:1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns:repeat(4, 1fr);
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-rows: repeat(4, 1fr);
}.contenedor > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.contenedor > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.contenedor > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}.contenedor > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}.contenedor > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.contenedor > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}.contenedor > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}.contenedor > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}.contenedor > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}.contenedor > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}.contenedor > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}.contenedor > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}.contenedor > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}.contenedor > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}.contenedor > *:nth-child(15) {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
}.contenedor > *:nth-child(16) {
    -ms-grid-row: 7;
    -ms-grid-column: 7;
}

.fondo-imagen{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.contenedor-imagen{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
}

.Modal-imagen{
    max-width: 1000px;
    height: auto;
    position: relative;
    z-index: -1;
}

.Modal-boton{
    position:absolute;
    width: 250px;
    height: auto;
    cursor: pointer;
    top:320px;
    z-index: 1;
}

.Modal-boton-derecha{
    top:340px;
    left: 650px;
}

.Modal-botones{
    position: relative;
    top:0px;
    width: 120px;
}


.Modal-contenedor-botones{
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top:160px;
    position: absolute;
}

@media (max-width: 1000px) {
    .Modal-imagen{
        max-width: 900px;
    }

    .Modal-boton{
        width: 200px;
        top:290px
    }

    .Modal-boton-derecha{
    left: 600px;
}
    .Modal-botones{
    position: relative;
    top:0px;
    width: 100px;
}
    .Modal-contenedor-botones{
        top:140px
    }
}

@media (max-width: 900px) {
    .Modal-imagen{
        max-width: 850px;
    }

    .Modal-boton{
        width: 190px;
        top:260px
    }

    .Modal-boton-derecha{
        top:300px;
    left: 550px;
}
    .Modal-botones{
    position: relative;
    top:0px;
    width: 95px;
}
    .Modal-contenedor-botones{
        top:130px
    }
}

@media (max-width: 842px) {
    .Modal-imagen{
        max-width: 770px;
    }

    .Modal-boton{
        width: 160px;
        top:210px
    }
    .Modal-boton-derecha{
        top:280px;
    left: 500px;
}
    .Modal-botones{
    position: relative;
    top:0px;
    width: 90px;
}
    .Modal-contenedor-botones{
        top:120px
    }
}
@media (max-width: 750px) {
    .Modal-imagen{
        max-width: 600px;
    }

    .Modal-boton{
        width: 160px;
        top:170px
    }
    .Modal-boton-derecha{
        top:210px;
    left: 400px;
}
    .Modal-botones{
    position: relative;
    top:0px;
    width: 70px;
}
    .Modal-contenedor-botones{
        top:100px
    }
}

@media (max-width: 600px) {
    .Modal-imagen{
        max-width: 500px;
    }

    .Modal-boton{
        width: 120px;
        top:150px
    }
    .Modal-boton-derecha{
        top:180px;
    left: 330px;
}
    .Modal-botones{
    position: relative;
    top:0px;
    width: 60px;
}
    .Modal-contenedor-botones{
        top:80px
    }
}